/* Custom Styling */
@import "minima_solarized";

/* Headings */
h1, h2, h3 {
  font-family: "Merriweather", Georgia, serif;
}

h1 {
  border-bottom: 1px solid $sol-violet !important;
  padding-bottom: 0.2rem;
  color: var(--solarized-link-visited)
}

button {
    font-family: monospace;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    border: none;
    background-color: $sol-orange;
    color: white !important;
}

/* Navigation sidebar */
.side-bar {
  border-right: 2px solid var(--solarized-mono01) !important;
  border-radius: 20px;
}

.site-nav {
    padding-top: 0;
    scrollbar-gutter: stable;
    scrollbar-color: var(--solarized-mono00) transparent !important;
}

.search {
    background-color: $background-color !important;
}

.nav-category, .nav-list-link, .nav-list-expander {
  color: var(--solarized-mono00) !important;
  font-size: 0.9rem !important;
}

/* Recipe card wrapper */
.recipe-card {
  border: 1px solid var(--solarized-mono01) !important;
  border-radius: 8px;
  padding: 1.2rem;
  padding-top: 0;
  margin-bottom: 1.5rem;
  transition: transform 0.2s ease;
}

.recipe-card:hover {
  transform: translateY(-3px);
}

/* don't highlight when tapping on mobile */
summary {
    -webkit-tap-highlight-color: transparent;
}

/* Servings */
input[type="number"] {
    field-sizing: content;
    background: rgba(0,0,0,0.5);
    border: none;
}

/* Quantity styling */
.qty {
  background: var(--solarized-mix3);
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0.25px 0.25px var(--solarized-mono00);
}

.ingredients {
  border-bottom: 1px solid $sol-violet !important;
  padding-bottom: 0.4rem;
}
