/* Custom Styling */

@use "solarized" as msa;


/* Override variables with Minima Solarized palette */
$body-background-color: msa.$background-color !important;
$sidebar-color: msa.$brand-color-dimmed !important;
$border-color: msa.$border-color-01 !important;

$body-heading-color: msa.$text-color !important;
$body-text-color: msa.$text-color !important;
$link-color: msa.$link-base-color !important;
$nav-child-link-color: msa.$link-visited-color !important;
$table-background-color: msa.$table-header-bg-color !important;
// $code-background-color: msa.$code-background-color;
// code-line-number-color: 

$base-button-color: msa.$brand-color-light !important;
$btn-primary-color: msa.$link-hover-color !important;
$search-background-color: msa.$brand-color !important;
$feedback-color: darken(msa.$sidebar-color, 3%) !important;
$search-result-preview-color: msa.$brand-color !important;


* {
  border: none !important;
}

/* Headings */
h1, h2, h3 {
  font-family: "Merriweather", Georgia, serif;
}

h1 {
  border-bottom: 1px solid $sol-orange;
  padding-bottom: 0.2rem;
}


/* Navigation sidebar */
.side-bar {
  border-right: 2px solid var(--solarized-mono01) !important;
  border-radius: 20px;
}

.site-nav {
    padding-top: 0;
    scrollbar-gutter: stable;
}

.nav-category, .nav-list-link {
  color: var(--solarized-mono00) !important;
  font-size: 0.9rem !important;
}

/* Recipe card wrapper */
.recipe-card {
  border: 1px solid var(--solarized-mono01) !important;
  border-radius: 8px;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.recipe-card:hover {
  transform: translateY(-3px);
}

/* Servings */
input[type="number"] {
    field-sizing: content;
}

/* Quantity styling */
.qty {
  background: var(--solarized-mix3);
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-family: "Segoe UI", sans-serif;
}

.ingredients {
  border-bottom: 1px solid $sol-organge !important;
  padding-bottom: 0.2rem;
}
